.container {
    background-color: #6D6875;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.link {
    padding: 10px;
    color: white;
}

.login {
    float: right;
    padding-right: 10px;
}